{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href=" {% static 'css/style.css' %} ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous">
    </script>
</head>

<body>

    {% block content %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="{%url 'home'%}" class="navbar-brand">Nyumba Kumi</a>
            </div>
            <ul class="nav navbar-item">
                <li><a href="{%url 'estate'%}">Estate</a></li>
                <li><a href="{%url 'business'%}">Business</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
            <ul class="nav navbar-item navbar-right">
                {% if user.is_authenticated %}
                <li><a href="{%url 'logout'%}"><i class="fas fa-sign-in-alt mr-2"></i>Logout</a></li>
                <li><a href="{%url 'profile'%}"><i class="fas fa-sign-in-alt mr-2"></i>Profile</a></li>
                {% else %}
                <li><a href="{%url 'login'%}"><i class="fas fa-sign-in-alt mr-2"></i>Sign In</a></li>
                <li><a href="{%url 'register'%}"><i class="fas fa-chalkboard-teacher mr-2"></i>Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock content %}

</body>

</html>